<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar</title>
  </head>
  <body>
    <h1>Editar Funcionário</h1>

    <form th:action="@{editar}" method="post" th:object="${funcionario}">
      <div>
        <label for="txtnome">Nome:</label>
        <input type="text" id="txtnome" th:field="*{nome}" />
      </div>
      <div>
        <label for="txtcpf">CPF:</label>
        <input type="text" id="txtcpf" th:field="*{cpf}" readonly />
      </div>
      <div>
        <label for="txtsalario">Salário:</label>
        <input type="text" id="txtsalario" th:field="*{salarioMes}" />
      </div>
      <div>
        <label for="txtnascimento">Nascimento:</label>
        <input type="text" id="txtnascimento" th:field="*{nascimento}" />
      </div>
      <button type="submit">Salvar</button>
    </form>
  </body>
</html>
