<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Página Inicial</h1>
    <ul>
      <li><a th:href="@{/p2}" th:text="@{Ir para a Página 2}"></a></li>
      <li><a th:href="@{/p3}">página 2 com dados</a></li>
      <li><a th:href="@{/salvar}">Novo cadastro</a></li>
      <li><a th:href="@{/funcionarios/todos}">Funcionários</a></li>
    </ul>
  </body>
</html>
