<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Controle de Veículos</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Controle de Veículos</h1>
    <div class="container">
      <div class="card">
        <h3>Veículo:</h3>
        <p><strong>Modelo:</strong> Ferrari</p>
        <p>
          <strong>Velocidade:</strong>
          <span th:text="${velocidadeCarro}">0 km/h</span>
        </p>
        <p><strong>Marcha:</strong> <span th:text="${marchaCarro}">1</span></p>
        <form th:action="@{/veiculos/acelerarCarro}" method="post">
          <button type="submit">Acelerar</button>
        </form>
        <form th:action="@{/veiculos/freiarCarro}" method="post">
          <button type="submit">Freiar</button>
        </form>
      </div>

      <div class="card">
        <h3>Veículo:</h3>
        <p><strong>Modelo:</strong> Scania</p>
        <p>
          <strong>Velocidade:</strong>
          <span th:text="${velocidadeCaminhao}">0 km/h</span>
        </p>
        <p>
          <strong>Marcha:</strong> <span th:text="${marchaCaminhao}">1</span>
        </p>
        <form th:action="@{/veiculos/acelerarCaminhao}" method="post">
          <button type="submit">Acelerar</button>
        </form>
        <form th:action="@{/veiculos/freiarCaminhao}" method="post">
          <button type="submit">Freiar</button>
        </form>
      </div>
    </div>
    <h3>Desenvolvido por Guilherme Moreira e Maria Fernanda Costa</h3>
  </body>
</html>
