<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Página Inicial</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Bem-vindo ao Sistema de Clientes e Contatos</h1>
    <h4>P2 - Guilherme de Carvalho Moreira</h4>
    <br />
    <a href="/clientes">
      <button>Gerenciar Clientes</button>
    </a>
    <a href="/contatos">
      <button>Gerenciar Contatos</button>
    </a>
  </body>
</html>
